<form (ngSubmit)="onSubmit()" [formGroup]="loginFormGroup">

<div class="container loginContainer">
  <div class="column is-one-third is-offset-one-third">
    <div class="box">
      <!-- Email -->
      <div class="field inputContainer">
        <label class="label">Account Email</label>
        <div class="control">
          <input class="input" type="text" name="email" required formControlName="email">
        </div>
      </div>

      <!-- Password -->
      <div class="field inputContainer">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password"  required formControlName="password">
        </div>
      </div>

      <button class="button is-primary buttonContainer"  type="submit">Login</button>
    </div>
  </div>
</div>
</form>