$primary-color: purple;
.main-container {
    margin-top: 20px;
    padding: 2erm;
    padding-bottom: 0;
    margin-bottom: 0;
    .vitals {
        .level-item {
            >div {
                justify-content: center;
                align-items: center;
                flex-direction: column;
                figure {
                    justify-content: center;
                    margin-bottom: 10px;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
    }
}

.outer-container {
    margin-bottom: 10px;
}

.inner {
    margin-bottom: 0;
}

.inner-level {
    padding: 4rem;
}

.title {
    font-size: 4rem;
}

.list-items {
    padding-top: 0;
    padding-bottom: 0;
}

.labelBack {
    margin-left: 150px;
    margin-top: 160px;
}

.patient-detail-container {
    flex: 1;
}

.temp {
    height: 55px;
    width: 30px;
}

.vitalContainer {
    margin-top: 2rem;
    margin-right: 1rem;
    .title {
        text-align: center;
    }
}

.inputContainer {
    margin-bottom: 10px;
    width: 25em;
    .inputBloodPL {
        margin-bottom: 10px;
    }
}

.p-modal {
    padding: 30px 60px;
}

.p-modal h5 {
    padding-bottom: 20px;
}

.p-modal .field {
    padding: 10px 0;
}

.p-modal textarea {
    height: 120px;
}

.p-modal button {
    margin-top: 20px;
    width: 380px;
}
