<home-header></home-header>
<!-- Update Patient Vital Information Modal -->
<ngx-smart-modal #updateVitalModal identifier="updateVitalModal">
  <label class="label">Update Vital Info</label>
  <div class="container vitalContainer">
    <div class="column">
      <div class="field inputContainer">
        <label class="label">Blood Pressure</label>
        <div class="control">
          <input class="input is-primary inputBloodPL" type="text" name="low">
          <input class="input is-primary" type="text" name="high">
        </div>
      </div>
      <div class="field inputContainer">
        <label class="label">Body Temperature</label>
        <div class="control">
          <input class="input is-primary" type="text" name="bodyTemp">
        </div>
      </div>
      <div class="field inputContainer">
        <label class="label">Heart Rate</label>
        <div class="control">
          <input class="input is-primary" type="text" name="tipTitle">
        </div>
      </div>
      <div class="field inputContainer">
        <label class="label">Respiratory Rate</label>
        <div class="control">
          <input class="input is-primary" type="text" name="respiratoryRate">
        </div>
      </div>
      <a class="button is-primary buttonContainer">Update Info</a>
    </div>
  </div>

</ngx-smart-modal>
<!-- Patient Modal -->
<ngx-smart-modal [escapable]="false" [dismissable]="false" #patientModal identifier="patientModal">
  <form (ngSubmit)="addVisit()" [formGroup]="addVisitForm" class="p-modal">
    <h1 class="title is-size-4">Enter Visit Info</h1>

    <div class="field">
      <label class="label">Blood Pressure</label>
      <div class="control">
        <input class="input" type="text" formControlName="bloodMin" placeholder="low blood pressure">
        <input class="input" type="text" formControlName="bloodMax" placeholder="high blood pressure">
      </div>
    </div>
    <div class="field">
      <label class="label">Body Temperature</label>
      <div class="control">
        <input class="input" formControlName="temperature" type="text" placeholder="">
      </div>
    </div>
    <div class="field">
      <label class="label">Heart Rate</label>
      <div class="control">
        <input class="input" formControlName="heartRate" type="text" placeholder="">
      </div>
    </div>
    <div class="field">
      <label class="label">Respiratory Rate</label>
      <div class="control">
        <input class="input"formControlName="respiratoryRate"type="text" placeholder="">
      </div>
    </div>
    <button class="button is-primary" type="submit">Enter Visit Info</button>
  </form>
</ngx-smart-modal>


<label class="labelBack" (click)="backToDashboard()">Back to Dashboard</label>

<div *ngIf="isLoading" class="columns is-centered">
  <div class="loader with-margin-20"></div>
</div>

<div *ngIf="!isLoading" class="main-container">
  <div class="inner columns is-centered">
    <div class="column is-10">
      <div class="level box inner-level ">

        <div class="column is-3 is-flex name-header">
          <figure class="image is-128x128 image-profile">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
          </figure>
        </div>
        <div class="columns is-centered is-multiline">

          <div class="column is-12">
            <p class="is-size-6">Patient Name: {{user.firstName}} {{user.lastName}}</p>
            <!-- <p class="is-subtitle is-size-6">Software Engineering Technology</p> -->
          </div>
          <div class="column is-12">
            <p class="is-size-6">DoB: {{user.dob | date}}</p>
            <!-- <p class="is-subtitle is-size-6">Software Engineering Technology</p> -->
          </div>
          <div class="column is-12">
            <p class="is-size-6">Patient Since: {{user.created | date}}</p>
            <!-- <p class="is-subtitle is-size-6">Software Engineering Technology</p> -->
          </div>
          <div class="column is-12">
            <p class="is-subtitle is-size-6 is-flex label-with-icon">

              <a href="mailto:{{user.email}}">{{user.email}}</a>
            </p>
          </div>
          <div class="column is-12">
            <p class="is-subtitle is-size-6 is-flex label-with-icon">

              <a href="tel:+4166594232">416-659-4232</a>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <div class="columns">

              <div class="column">
                <a class="button is-primary create-patient-button is-block" (click)="patientModal.open()">Enter Patient Information</a>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div *ngIf="lastVisit" class="columns is-centered">
    <div class="column is-10 list-items">
      <!-- header -->
      <div class="columns box is-gapless is-marginless">
        <label class="label">Vital data from last visit on {{lastVisit?.date || "April 27, 2018"}}</label>
      </div>

      <div class="level vitals box inner-level">
        <div class="level-item has-text-centered">
          <div class="is-flex">
            <!-- Patient Count -->
            <figure class="image is-64x64 ">
              <img src="../../../assets/icons/icon_blood pressure.png">
            </figure>
            <p class="has-text-weight-light title">{{lastVisit?.vitals.bloodMin}}{{lastVisit && "/"}}{{lastVisit?.vitals.bloodMax}}</p>
            <p class="heading is-size-6">Blood Pressure</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div class="is-flex">
            <!-- Patient Count -->
            <figure class="image is-64x64 ">
              <img src="../../../assets/icons/icon_temperature.png">
            </figure>
            <p class="has-text-weight-light title">{{lastVisit?.vitals.temperature}}</p>
            <p class="heading is-size-6">Temperature</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div class="is-flex">
            <!-- Patient Count -->
            <figure class="image is-64x64 ">
              <img src="../../../assets/icons/icon_heart rate.png">
            </figure>
            <p class="has-text-weight-light title">{{lastVisit?.vitals.heartRate}}</p>
            <p class="heading is-size-6">Heart Rate</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div class="is-flex">
            <!-- Patient Count -->
            <figure class="image is-64x64 ">
              <img src="../../../assets/icons/icon_respiratory rate.png">
            </figure>
            <p class="has-text-weight-light title">{{lastVisit?.vitals.respiratoryRate}}</p>
            <p class="heading is-size-6">Respiratory Rate</p>
          </div>
        </div>
      </div>
      <!-- values list items -->
    </div>
  </div>
  <div *ngIf="!lastVisit" class="columns is-centered with-margin-20">
    <p class="message heading">No previous visits.</p>
  </div>
