.loginContainer {
    margin-top: 1rem;
    .title{
        text-align: center;
    }
    .box {
      padding: 2em;
    }
  }
  
  .label {
    font-weight: normal;
  }
  
  .inputContainer {
      margin-bottom: 10px;
  }
  .buttonContainer {
    margin-top: 20px;
    width: 100%;
    border-radius: 0;
    background-color: purple;
  }
  