.p-form-btn{
  margin-top: 32px;
}

.p-dashboard-cell{
  border: solid 1px #f4f4f4;
  padding: 60px;
}

.p-links{
  margin: 30px 0;
}

.p-links span.icon{
  color: #01d1b2;
}

.p-links span.p-icon-link-text{
  margin-left: 4px;
}

.p-links .menu-list li{
  margin-top: 10px;
}

.p-tips{
  margin: 30px 0;
}

.p-tips a{
  margin-top: 20px;
}
