.p-form-btn{
  margin-top: 32px;
}

.p-dashboard-cell{
  border: solid 1px #f4f4f4;
  padding: 60px;
}

.p-links{
  margin: 30px 0;
}

.p-links span.icon{
  color: #01d1b2;
}

.p-links span.p-icon-link-text{
  margin-left: 4px;
}

.p-links .menu-list li{
  margin-top: 10px;
}

.p-tips{
  margin: 30px 0;
}

.p-tips a{
  margin-top: 20px;
}

.p-tips > .p-tip{
  border-bottom: solid 1px #f4f4f4;
  padding: 20px 0 40px 0;
}

.p-tips > .p-tip > h2{
  font-size: 16px;
}

.p-tips > .p-tip > p{
  font-size: 12px;
}

.p-tips > .p-tip > span{
  color: #a8a8a8;
  font-size: 11px;
}

.p-modal{
  padding: 30px 60px;
}

.p-modal h1{
  padding-bottom: 20px;
}

.p-modal .field{
  padding: 10px 0;
}

.p-modal textarea{
  height: 120px;
}

.p-modal button{
  margin-top: 20px;
  width: 380px;
}

.p-modal ul>li{
  margin: 20px 0;
}
