/* You can add global styles to this file, and also import other style files */
@import "~ngx-smart-modal/ngx-smart-modal";

// all inputs

input.input {
  padding: 5px 15px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #f1f1f1;
}

.loader {
  width: 3em;
  height: 3em;
  border-width: 3px;
}

.box{
  border-radius: 0;
}

.center-children{
  align-self: center;
}

.with-margin-20{
  margin: 20px;
}
