/* You can add global styles to this file, and also import other style files */

// all inputs

input.input {
  padding: 5px 15px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #f1f1f1;
}

.box{
  border-radius: 0;
}

.center-children{
  align-self: center;
}