<app-header> </app-header>

<div class="container loginContainer">
    <h3 class="title is-3">Login</h3>
  <div class="column is-one-third is-offset-one-third">
    <div class="box">
      <!-- Email -->
      <div class="field inputContainer">
        <label class="label">Account Email</label>
        <div class="control">
          <input class="input" type="text" name="email">
        </div>
      </div>

      <!-- Password -->
      <div class="field inputContainer">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password">
        </div>
      </div>

      <a class="button is-primary buttonContainer">Login</a>
    </div>
  </div>
</div>