<app-header> </app-header>

<div class="tabs column is-centered is-half is-offset-one-quarter is-medium">
    <h3 class="title is-3 loginTitle">Login</h3>
  <ul>
    <li [ngClass]="{'is-active': selectedTab == tabs.Patient}">
      <a (click)="selectTab(tabs.Patient)">Patient</a>
    </li>
    <li [ngClass]="{'is-active': selectedTab == tabs.Nurse}">
      <a (click)="selectTab(tabs.Nurse)">Nurse</a>
    </li>
  </ul>
</div>
<div>

  <login-nurse *ngIf="selectedTab == tabs.Nurse"></login-nurse>
  <login-patient *ngIf="selectedTab == tabs.Patient"></login-patient>

</div>